<div class="categories-nav">
  <div class="col-xs-offset-3 col-sm-offset-0 col-xs-6 thumbnail">
    <div class="login">
      <h3>Create a New Item</h3>
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
