<div class="categories-nav transparent">
  <h1 class="banner home transparent">
    <strong class="banner-content">User Dashboard</strong>
  </h1>
  <div class="col-xs-offset-3 col-sm-offset-0 col-xs-6 thumbnail col-centered transparent">
    <strong><p>Hello, <%= @user.username %>.</p></strong>
    <br>
    <p><strong>E-mail:</strong></p> <p><%= @user.email %></p>
    <br>
    <p><strong>Address:</strong></p> <p><%= @user.address %></p>
  </div>
</div>
