<% @orders.each do |order| %>
  <h3><%= link_to "Order Number: #{order.id}", order_path(order) %></h3>
  <p>Created At: <%= order.created_at %></p><br>
  <p>Order Total: <%= number_to_currency(order.amount) %></p>
  <br>
<% end %>
