<div class="categories-nav transparent">
  <div class="col-xs-offset-3 col-sm-offset-3 col-xs-6 thumbnail text-center transparent">
    <% @orders.each do |order| %>
      <h3><%= link_to "Order Number: #{order.id}", order_path(order) %></h3>
      <hr><br>
      <strong><p>Created At:</strong> <%= order.created_at %></p>
      <strong><p>Order Total:</strong> <%= number_to_currency(order.amount) %></p>
      <% if order.status == 'Ordered' %>
        <p><strong>Order Status:</strong> Ordered</p>
      <% elsif order.status == 'Paid' %>
        <p><strong>Order Status:</strong> Paid</p>
      <% end %>
    <% end %>
  </div>
</div>
