<div class="row"
<div class="home-nav">
  <div class="home-div">
    <div class="col-xs-12 col-sm-6 col-lg-8 thumbnail text-center col-centered">
    <h1 class="home">About Us:</h1>
    <p class="home"> Heading to westeros? Better gear up. From murderous kings, to betrayal, and sometimes even dragons, there's a lot of things to worry about. Lucky for you, Westeros Outfitters will sell you all the things you need to survive. After all, "When you play the game of thrones, you win or you die. There is no middle ground.".
    <br>
  </div>
  <img class="home-image" src="https://s-media-cache-ak0.pinimg.com/236x/c4/0c/11/c40c11994c076d9208226726ca73d378.jpg">
  </div>
</div>
  </div>
</div>
