<div class="home-nav">
    <div class="row">
      <div class="col-xs-10 col-sm-5 left-thumbnail">
        <img class="home-picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKrMlJ9jqak9fRW5i416nAaqZjS5VMc2Z3yBH7GNEhPgRbHHtX">
      </div>
      <div class="col-xs-12 col-sm-6 text-center thumbnail home-div">
      <h1 class="home">About Us:</h1>
      <p class="home"> Heading to westeros? Better gear up. From murderous kings, to betrayal, and sometimes even dragons, there's a lot of things to worry about. Lucky for you, Westeros Outfitters will sell you all the things you need to survive. After all, "When you play the game of thrones, you win or you die. There is no middle ground.".
      <br>
    </div>
  </div>
</div>
