  <div class="col-xs-12 col-sm-5 left-thumbnail">
    <img class="home-picture" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKrMlJ9jqak9fRW5i416nAaqZjS5VMc2Z3yBH7GNEhPgRbHHtX">
  </div>

  <div class="col-xs-12 col-sm-6 text-center thumbnail home-div transparent">
    <div class="non-semantic-protector transparent">
      <h1 class="banner home">
        <strong class="banner-content">About Us:</strong>
      </h1>
    </div>
    <strong><p class="home text"> Heading to Westeros? Better gear up! From murderous kings, to betrayal, and sometimes even dragons, there are a lot of things to worry about. Lucky for you, Westeros Outfitters can provide you with everything you need to survive. After all, "When you play the game of thrones, you win or you die. There is no middle ground.".</p></strong>
    <br>
  </div>
</div>
<br>
<br>
<br>
  <div class="ribbon pull left transparent">
    <i><span><s></s>Featured Item<s></s></span></i>
  </div>

  <div class="col-xs-5 col-sm-3 thumbnail ribbon-div transparent">
    <img class="ribbon-image transparent" src="http://www.nerdist.com/wp-content/uploads/2014/06/TheMountainMockingbird.jpg">
    <p class="home"><%=link_to "The Mountain's Bare Hands", item_path(id:"5") %></p>
    <p class="home">Do you have a trial by combat coming up? These have been proven to help.</p>
  </div>

  <div class="ribbon pull left transparent">
    <i><span><s></s>Employee of the Month<s></s></span></i>
  </div>

  <div class="col-xs-8 col-sm-3 thumbnail ribbon-div transparent">
    <img class="ribbon-image pull-left transparent" src="https://files.slack.com/files-tmb/T029P2S9M-F1XJXV1RC-62b5a34b14/pasted_image_at_2016_08_02_04_39_pm_720.png">
    <br></br>
    <p class="home">Matt, part-time elf, full-time (not full stack) developer. Ready for winter.</p>
  </div>

  <div class="ribbon pull left transparent">
    <i><span><s></s>Contact Us<s></s></span></i>
  </div>

  <div class="col-xs-2 col-sm-3 thumbnail ribbon-div transparent">
    <p class="home"> 2395 Kingscrest Way</p>
    <p class="home"> Westeros, CO 80056</p>
    <p class="home"> Need to contact us? Send a raven.</p>
  </div>
