/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Kite+One);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
 	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
 	box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-transition: .15s ease-in;
  -moz-transition: .15s ease-in;
}

html, body {
  min-height: 100%;
}

body {
  background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/subtle_carbon.png);
}
.cart-h2{
  color:black;
  font-family: Papyrus, fantasy;

}


h1 {
  color: #ccc;
  font-size: 2.5em;
  margin-bottom: .5em;
  text-align: center;
  text-shadow: 0.0625em 0.0625em 0.0625em #666;
}

p {
  text-align: center;
  margin-bottom: 2em
}

p a {
  color: #666;
}

 /*ribbon css */

.ribbon {
  margin: 3em;
  /* IE10 Consumer Preview */
  background-image: -ms-radial-gradient(center top, circle farthest-side, #FF0000 0%, #990000 100%);
  /* Mozilla Firefox */
  background-image: -moz-radial-gradient(center top, circle farthest-side, #FF0000 0%, #990000 100%);
  /* Opera */
  background-image: -o-radial-gradient(center top, circle farthest-side, #FF0000 0%, #990000 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #FF0000), color-stop(1, #990000));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #FF0000 0%, #990000 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: radial-gradient(circle farthest-side at center top, #FF0000 0%, #990000 100%);
  width: 5em;
  height: 10em;
  position: relative;
  border-top-right-radius: .2em;
  border-top-left-radius: .2em;
  margin: auto;
  font-family: 'Kite One', sans-serif;
  float:left;
}

.ribbon i {
  width: 90%;
  height: 120%;
  display: block;
  margin: auto;
  z-index: 100;
  position: relative;
  border-right: dashed 0.0625em #333;
  border-left: dashed 0.0625em #333;
  overflow: hidden;
}
i span {
  color: #FFF;
  display: block;
  text-align: center;
  top: 50%;
  margin-top: -2em;
  position: relative;
  text-shadow: 0.0625em 0.0625em 0.0625em #333;
  font-style: normal;
  font-weight: bold;
}

s {
  width: 0.625em;
  height: 0.625em;
  background: #333;
  top: 50%;
  margin-top: -0.3125em;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  display: block;
  position: absolute;
  opacity: .5;
}

s:nth-of-type(1) {
  margin-left: -1.25em;
  left: 0;
}
s:nth-of-type(2) {
  right: 0;
  margin-right: -1.25em;
}
.ribbon:before {
  content: "";
  position: absolute;
  bottom: -2.4em;
  left: 0;
  width: 0;
 	height: 0;
 	border-top: 2.5em solid #990000;
 	border-right: 2.5em solid transparent;
}
.ribbon:after {
  content: "";
  position: absolute;
  bottom: -2.4em;
  right: 0;
  width: 0;
 	height: 0;
 	border-top: 2.5em solid #990000;
 	border-left: 2.5em solid transparent;
}

.flash_item_removed {
  background: #32cd32 ;
}

.logo {
  font-family: Gothic 725 Black;
  font-style: bold;
  color: #000000;
}

body {
  background: url("http://wallpapersinsider.com/wp-content/uploads/2016/03/Game-of-Thrones-Minimal-Wallpapers.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15%, 45%, 75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  30%, 60%, 90% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15%, 45%, 75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  30%, 60%, 90% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

.shake a {
  color: #6ba0fb;
  text-decoration: underline;
}

.strong {
  max-width: 50%;
  font-weight: 550;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
}

.pushdown {
  margin-top: 75px;
}

.login {
  padding: 0 25px 25px 25px;
}

.item {
  list-style: none;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
  height: 420px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.transparent {
  opacity: 0.95;
}

.item h3 {
	margin: 0 0 5px;
}


.item p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}

.index-image {
  display: block;
  max-width: 230px;
  max-height: 150px;
  float: center;
  height: auto;
  width: auto;
}


.categories-nav {
  opacity: 1.0;
}

.order {
  background: #ffffff;
  padding: 10px;
}

.ribbon-div {
  margin-left: 10px;
  margin-right: 10px;
}


.ribbon-image {
  max-height: 100%;
  max-width: 200px;
}

.item-description {
  max-height: 20px;
  font-size: 14px;
  font-color: black;
}

.bottom-right {
  position:absolute;
  right:10px;
  bottom: 10px;
  color: #000000;
  font-size: 14px;
  max-height: 30px;
}

.btn-success {
  color: #000000;
  font-size: 14px;
  max-height: 30px;
}

.home-div {
  padding: 10px;
  margin-top: 10px;
}

p.home {
  font-color: black;
  padding-left:10px;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
}

.home-picture {
  opacity: 0.9;
  padding-top: 30px;
  width: 350px;
  height: 400px;
}

h1.home {
 padding-left:10px;
 font-family: Papyrus, fantasy;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 26.4px;
}

.left-thumbnail {
    padding-left: 70px;
    padding-top: 20px;
}

.col-centered {
  float: none;
  margin: 0 auto;
  }

.home-nav {
  opacity: 0.9;
}

.show-image {
  display:block;
  float: center;
  max-height: 200px;
  width: auto;
}

.show-button{
  margin-bottom: 10px
}

#stripe_payment {
  margin-top: 200px;
  padding: 20px;
}

.banner {
 font-size: 25px !important;
 width: 60%;
 position: relative;
 background:#990000;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.banner:before, .banner:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid 	#990000;
 z-index: -1;
}

.banner:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}

.banner:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}

.banner .banner-content:before, .banner .banner-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #333 transparent transparent transparent;
 bottom: -1em;
}

.banner .banner-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}

.banner .banner-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.non-semantic-protector {
  position: relative; z-index: 1;
}

body.bg-404 {
  background: image-url('gendry404.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

#four-oh-four-text {
  padding: 10px;
  margin: auto;
  font-size: 200px;
  color: white;
  border: 2px;
}

#not-found-text {
  padding-top: 10px;
  margin: auto;
  color: white;
  font-size: 48px;
  border: 2px;
  text-align: center;
}

#not-found-subtext {
  padding-top: 10px;
  color: white;
  font-size: 25px;
  border: 2px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .cart-img {
   max-height: 100px;
   max-width: 100px;
   width: auto;
 }
