<div class="categories-nav">
  <h1 class="banner home">
    <strong class="banner-content">Admin Dashboard</strong>
  </h1>
  <div class="col-xs-offset-3 col-sm-offset-0 col-xs-6 thumbnail col-centered">
    <strong><p>Hello, <%= @user.username %>.</p></strong>
    <br>
    <strong>E-mail:</strong> <p><%= @user.email %></p>
    <strong>Address:</strong> <p><%= @user.address %></p>
    <br>
    <strong><%= link_to "Edit User Profile", edit_admin_user_path(id: @user.id) %></strong>
  </div>
</div>
